<div class="baohanh">
	<div class="row">
		<div class="img-box">
			<img src="/images/logo-duhal.png" alt="" class="bh-logo" />
		</div>
	</div>
	<div class="row">
		<h1 class="bh-heading">THÔNG TIN BẢO HÀNH</h1>
	</div>
	<div class="row">
		<div class="tanbao">
			<span class="bh-id">Mã bảo hành:
				<span id="product-slug">{{data.idBH}}</span>
			</span>
			<h2 id="name-product">{{data.name}}</h2>

			<table class="table table-borderless">
				<tbody>
					<tr>
						<td>Mã sản phẩm:</td>
						<td id="product-id">{{data.idSP}}</td>
					</tr>
					<tr>
						<td>Ngày xuất kho:</td>
						<td id="product-date1">{{str1}}</td>
					</tr>
					<tr>
						<td>Ngày hết hạn:</td>
						<td id="product-date2">{{str2}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>